<!DOCTYPE html>
<html>
    <head>
        <title>SIGN UP</title>
    </head>
    <body style="background-color: lightgray;">
        <h1 style="text-align: center;"><b>SIGN UP</b></h1>
        <hr>
        <form action="/signup" method="POST" style="text-align: center;">
            Id<input type="text" name="id"><br/><br/>
            Password<input type="password" name="pwd"><br/><br/>
            Birth(e.g. 980102)<input type="birth" name="birth"><br/><br/>
            Email<input type="text" name="email"><br/><br/>
            Phone Number<input type="text" name="phone"><br/><br/>
            Address<input type="text" name="address"><br/><br/>
            <button type="submit">SIGN UP</button><br/><br/>
        </form>
    </body>
</html>