<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>Edit Project</title>
        <style type="text/css">
            a:link { color:black; text-decoration: none;}
            a:visited { color:black; text-decoration: none;}
            a:hover { color:#29487D; text-decoration: underline;}
            a { text-decoration:none } 
         </style>
    </head>
    <body style="background-color: lightgray; margin:0;">
            <div style=" background-color: #29487D; color:white; text-align: center;">
                <br>
                <h1>Project</h1>
                <br>
            </div>
            <div>
                <br><br>
            </div>
            <div style="background-color: white;  margin:30px; padding: 30px;">
                    <div>
                            <h1>Edit Project</h1>
            
                            <hr> 
                            <br>
                            <form action="/project/<%=post.seq%>/edit" method="POST">
                                <h4> Project </h4>
                                <input type="text" name="proj_name" value="<%= post.proj_name %>">
                                <br><br>
                                <h4> Description </h4>
                                <input type="text" name="proj_description" value="<%= post.proj_description %>" style="width:100px;">
                                <br><br>
                                <h4> Related URL (if none, blank ) </h4>
                                <input type="text" name="url" value="<%= post.url %>">
                                <br><br>
                                <h4> Your ID </h4>
                                Please enter your ID again to confirm <br><br>
                                <input type="text" name="user_id">
                                <br><br>
                                <div style="text-align: center;">
                                        <a href=> <input type="submit" value="save"> </a>
                                </div>

                            </form>
                        </div>
                  
            </div>
          <div style="text-align: center;">
                <a href='/project'> <input type="button" value="return"> </a>
        </div>
    </body>
</html>