<!DOCTYPE html>
<html>
    <head>
        <title>WELCOME</title>
    </head>
    <body style="background-color: lightgray; margin:0;">
        <div style=" padding:10px; background-color: #29487D; margin:0; color:white;">
         <h1 style="text-align: center;"><b>MY PORTFOLIO</b></h1>
        
        </div>
        <div >
            <br><br>
            <br>
            <div style="text-align: center;">
                <h2><b>LOG IN</b></h2>
                    <form action="/login" method="POST" style="text-align: center;">
                        <br>
                        ID<br> <input type="text"  name="id"><br/><br/>
                        PW<br> <input type="password" name="pwd"><br/><br/>
                        <br>
                        <a href="/login"><button type="submit">SIGN IN</button></a><br/><br/>
                     </form>
                     <div style="text-align: center;">
                            <a href="/signup"><button type="submit">SIGN UP</button></a>
                    </div>
            </div>
        </div> 
    </body>
</html>