<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>resume</title> 
        <script type="text/javascript" src="app.js"></script>
        <style type="text/css">
            a:link { color:black; text-decoration: none;}
            a:visited { color:black; text-decoration: none;}
            a:hover { color:#29487D; text-decoration: underline;}
            a { text-decoration:none } 
         </style>
    </head>
    <body style="background-color: lightgray; margin:0;">
            <div style=" background-color: #29487D; color:white; text-align: center; ">
                <br>
                <h1>Resume</h1>
                <br>
            </div>
            <div>
                <br><br>
            </div>
            <div style="background-color: white;  margin:30px; padding:30px;">
     
        <div>
            <h1>Name of Company</h1>
            Press the company name to go to the detailed view.
            <br>
            <hr>
            <br><br>
            <% for (let i=0 ; i < posts.length ; i++) { %>
            <p> 
                <h3>
                        <a href='/resume/<%= posts[i].seq %>'>> <%= JSON.stringify(posts[i].company) %></a> 
                </h3>        
            </p>
            <br>
            <%}%>
        </div>
        <div name="button" style="text-align: center;">
            <p>
                <a href="/resume/add"><input type="button" value="add"></a>
                <a href='../main'> <input type="button" value="main"> </a>
            </p>
        </div>
    </body>
</html>